
.contentContainer {
    position: absolute;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    
}

// .imageContainer {
//     width: 30%;
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
// }

.navContainer {
    width: 30%;
    text-align: center;
}

// .spaceMan {
//     width: 30%;
// }

// .spaceDog {
//     height: 30%;
// }

#particles-about {
    height: 100vh;
    z-index: -1;
    background: radial-gradient(circle, rgb(3, 29, 68) 0%,
      rgb(10, 2, 10) 100%);
}

// @media (prefers-reduced-motion: no-preference) {
//     .spaceMan {
//       animation: spaceMan-spin infinite 20s linear;
//     }
//   }
  
//   @keyframes spaceMan-spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(-360deg);
//     }
//   }

//   @media (prefers-reduced-motion: no-preference) {
//     .spaceDog {
//       animation: spaceDog-spin infinite 20s linear;
//     }
//   }
  
//   @keyframes spaceDog-spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }