
.form-container {
    width: 20%;
    color: #F4442E;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.form-label-text {
    margin: 8px 0 4px;
}

.email-span {
    margin: 8px 
}