
.App-logo {
  height: 300px;
  pointer-events: none;
}

.title-container {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

h1 {
  font-size: 50px;
  color: #EE2E31
}

#particles-js {
  height: 100vh;
  z-index: -1;
  background: radial-gradient(circle, rgb(3, 29, 68) 0%,
    rgb(10, 2, 10) 100%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
