Header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

ul {
    margin: 0px 10px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    list-style: none;
}

li {
    position: relative;
    margin: 9px;
    padding: 2px;
    width: 95px;
    text-align: center;
}

.navLink {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    color: #baff29;
}

.active {
    color: #63B0CD
}

li:before, li:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
    // background-color: chartreuse;
    z-index: 1;
  }
  li:before{
    top: -6%;
    left: -.7%;
    border-top: 2px solid #F4442E;
    border-left: 2px solid #F4442E; 
  }
  li:after{
    bottom: -6%;
    right: -.7%;
    border-bottom: 2px solid #F4442E;
    border-right: 2px solid #F4442E;
  }
  li:hover:before, li:hover:after{
    width: 40%;
    height: 40%;
    transition: all 0.3s ease;
  }