
.skill-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.skill {
    display: flex;
    align-content: center;
    align-items: center;
}

.skillLogo {
    width: 40px;
    margin: 0 20px;
}