
.projects-container {
    height: 100vh;
    overflow: auto;
    position: relative;
    
}

.projects-content-container {
    position: absolute;
    overflow: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    // margin-top: 3.815rem;
}

#particles-project {
    height: 100vh;
    z-index: -1;
    background: radial-gradient(circle, rgb(3, 29, 68) 0%,
        rgb(10, 2, 10) 100%);
}