
.imageContainer {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.spaceDog {
    height: 30%;
}

@media (prefers-reduced-motion: no-preference) {
    .spaceMan {
      animation: spaceMan-spin infinite 20s linear;
    }
  }
  
  @keyframes spaceMan-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .spaceDog {
      animation: spaceDog-spin infinite 20s linear;
    }
  }
  
  @keyframes spaceDog-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }