
.projectDisplay-container{
    width: 100vw;
    height: 100vh;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    overflow: auto;
    // background-color: ivory;
}

// Container for items
.projectItem-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 

.projects-h1 {
    margin-top: 11.642rem;
    font-size: 1.953rem;
    text-transform: uppercase;
}

.project-description {
    
    color: #F0EFF4;
    padding: 1.953rem;
}

// Anchor Links
.project-link {
    // background-color: #031D44;
    color: #baff29;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    background-color: rgba( 3, 29, 68, 0.4);
    padding: 4px;
}

.project-link:visited {
    text-decoration: none;
    color: #baff29
}

.project-link:before, .project-link:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
    // background-color: chartreuse;
    z-index: 1;
  }
  .project-link:before{
    top: -6%;
    left: -.9%;
    border-top: 2px solid #F4442E;
    border-left: 2px solid #F4442E; 
  }
  .project-link:after{
    bottom: -6%;
    right: -.9%;
    border-bottom: 2px solid #F4442E;
    border-right: 2px solid #F4442E;
  }
  .project-link:hover:before, .project-link:hover:after{
    width: 40%;
    height: 40%;
    transition: all 0.3s ease;
  }


// Images
.crown-spot {
    max-width: 55.511rem;
}

.gameShow {
    max-width: 55.511rem;
}

.webDashboard {
    max-height:  44.409rem;
}

//New Item Container
.item-container {
    margin: 4.768rem 0;
    transition: .6s ease-out;
}

.item-container:hover {
    box-shadow: 0 0 0 0.328rem rgba(97, 226, 148, 0.7);
    border-radius: 0.262rem;
    transform: scale(1.1)
}

.item {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(3, 29, 68, .9);

    transform: translateX(100%);
}

.item, .item img, .overlay {
    transition: transform .6s ease-out;
}

.item:hover img {
    transform: translateX(-100%);
}

.item:hover .overlay {
    transform: translateX(0%);
}