
.projectDisplay-container{
    width: 100vw;
    height: 100vh;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    overflow: auto;
    // background-color: ivory;
}

// Container for items
.projectItem-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.projects-h1 {
    margin-top: 11.642rem;
    font-size: 1.953rem;
    text-transform: uppercase;
}

// Project Items
.projectItem {
    max-height: 28.422rem;
    max-width: 28.422rem;
    // background-color: #031D44;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.953rem;
}

.project-description {
    background-color: rgba( 3, 29, 68, 0.7);
    color: #F0EFF4;
    padding: 0.512rem;
}

// Anchor Links
.project-link {
    // background-color: #031D44;
    color: #baff29;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    background-color: rgba( 3, 29, 68, 0.4);
    padding: 5px;
}

.project-link:visited {
    text-decoration: none;
    color: #baff29
}

.project-link:before, .project-link:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
    // background-color: chartreuse;
    z-index: 1;
  }
  .project-link:before{
    top: -6%;
    left: -.7%;
    border-top: 2px solid #F4442E;
    border-left: 2px solid #F4442E; 
  }
  .project-link:after{
    bottom: -6%;
    right: -.7%;
    border-bottom: 2px solid #F4442E;
    border-right: 2px solid #F4442E;
  }
  .project-link:hover:before, .project-link:hover:after{
    width: 40%;
    height: 40%;
    transition: all 0.3s ease;
  }


// Images
.crown-spot {
    max-width: 22.737rem;
}

.gameShow {
    max-width: 22.737rem;
}

.webDashboard {
    max-height: 11.642rem;
}