.textContainer {
    font-family: 'Share Tech Mono', monospace;
    width: 30%;
    text-align: center;
    z-index: 2;
    color: #F4442E
}

.aboutText {
    background-color: rgba( 3, 29, 68, 0.5);
}